<a href="https://colab.research.google.com/github/saivedacharan/veda/blob/main/101_Exercises_final_214514.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Exercise 1
on_mars_right = False
print(on_mars_right)

False

In [ ]:
# Exercise 2
fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]
print(fruits)

['mango', 'banana', 'guava', 'kiwi', 'strawberry']

In [ ]:
# Exercise 3
vegetables = ["eggplant", "broccoli", "carrot", "cauliflower", "zucchini"] 
print(vegetables)

['eggplant', 'broccoli', 'carrot', 'cauliflower', 'zucchini']

In [ ]:
# Exercise 4
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercise 5
fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]
fruits.append("tomato")
print(fruits)

['mango', 'banana', 'guava', 'kiwi', 'strawberry', 'tomato']

In [ ]:
# Exercise 6
vegetables = ["eggplant", "broccoli", "carrot", "cauliflower", "zucchini"]
vegetables.append("tomato")
print(vegetables)

['eggplant', 'broccoli', 'carrot', 'cauliflower', 'zucchini', 'tomato']

In [ ]:
# Exercise 7
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.reverse()
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Exercise 8
vegetables.sort()
print(vegetables)

['broccoli', 'carrot', 'cauliflower', 'eggplant', 'tomato', 'zucchini']

In [ ]:
# Exercise 9
fruits.sort(reverse=True)
print(fruits)

['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']

In [ ]:
# Exercise 10
fruits_and_veggies = fruits + vegetables
print(fruits_and_veggies)

['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana', 'broccoli', 'carrot', 'cauliflower', 'eggplant', 'tomato', 'zucchini']

In [ ]:
# Exercise 11
def add_one(n):
    return n + 1

print(add_one(2))

3

In [ ]:
# Exercise 12
def is_positive(n):
    if n > 0:
        return True
    else:
        return False
print(is_positive(0))
print(is_positive(-1))
print(is_positive(1))

False
False
True

In [ ]:
# Exercise 13
def is_negative(n):
    if n < 0:
        return True
    else:
        return False
print(is_negative(0))
print(is_negative(-1))
print(is_negative(1))

False
True
False

In [ ]:
# Exercise 14
def is_odd(n):
    if n%2 != 0:
        return True
    else:
        return False

print(is_odd(3))
print(is_odd(-4))

True
False

In [ ]:
# Exercise 15
def is_even(n):
    if n%2 == 0:
        return True
    else:
        return False

print(is_even(5))
print(is_even(-4))

False
True

In [ ]:
# Exercise 16
def identity(n):
    return n

print(identity("apple"))

apple

In [ ]:
# Exercise 17
def is_positive_odd(n):
    if n > 0 and n%2 != 0:
        return True
    else:
        return False
    
print(is_positive_odd(-3))
print(is_positive_odd(3))
print(is_positive_odd(0))

False
True
False

In [ ]:
# Exercise 18
def is_positive_even(n):
    if n > 0 and n%2 == 0:
        return True
    else:
        return False
    
print(is_positive_even(-2))
print(is_positive_even(2))
print(is_positive_even(0))

False
True
False

In [ ]:
# Exercise 19
def is_negative_odd(n):
    if n < 0 and n%2 != 0:
        return True
    else:
        return False

print(is_negative_odd(-3))
print(is_negative_odd(3))
print(is_negative_odd(0))

True
False
False

In [ ]:
# Exercise 20
def is_negative_even(n):
    if n < 0 and n%2 == 0:
        return True
    else:
        return False

print(is_negative_even(-2))
print(is_negative_even(2))
print(is_negative_even(0))

True
False
False

In [ ]:
# Exercise 21
def half(n):
    return n / 2

print(half(3))
print(half(10))

1.5
5.0

In [ ]:
# Exercise 22
def double(n):
    return 2 * n

print(double(4))

8

In [ ]:
# Exercise 23
def triple(n):
    return 3 * n

print(triple(4))

12

In [ ]:
# Exercise 24
def reverse_sign(n):
    return n * -1

print(reverse_sign(12))
print(reverse_sign(-12))

-12
12

In [ ]:
# Exercise 25
def absolute_value(n):
    if n < 0:
        return n * -1 
    else:
        return n

print(absolute_value(-12))
print(absolute_value(12))

12
12

In [ ]:
# Exercise 26
def is_multiple_of_three(n):
    if n % 3 == 0:
        return True
    else:
        return False
    
print(is_multiple_of_three(6))
print(is_multiple_of_three(5))

True
False

In [ ]:
# Exercise 27
def is_multiple_of_five(n):
    if n % 5 == 0:
        return True
    else:
        return False
    
print(is_multiple_of_five(60))
print(is_multiple_of_three(2))

True
False

In [ ]:
# Exercise 28
def is_multiple_of_both_three_and_five(n):
    if n % 3 == 0 and n % 5 == 0:
        return True
    else:
        return False
    
print(is_multiple_of_both_three_and_five(6))
print(is_multiple_of_both_three_and_five(15))
print(is_multiple_of_both_three_and_five(5))
print(is_multiple_of_both_three_and_five(4))

False
True
False
False

In [ ]:
# Exercise 29
def square(n):
    return n * n

print(square(3))

9

In [ ]:
# Exercise 30
def add(a, b):
    return a + b

print(add(3, -1))

2

In [ ]:
# Exercise 31
def cube(n):
    return n ** 3

print(cube(3))

27

In [ ]:
# Exercise 32
import math
def square_root(n):
    return math.sqrt(n)

print(square_root(16))

4.0

In [ ]:
# Exercise 33
def subtract(a, b):
    return a - b

print(subtract(8, 3))

5

In [ ]:
# Exercise 34
def multiply(a, b):
    return a * b

print(multiply(2, 3))

6

In [ ]:
# Exercise 35
def divide(a, b):
    return a / b

print(divide(27, 9))
print(divide(5, 2))

3.0
2.5

In [ ]:
# Exercise 36
def quotient(a, b):
    return a // b

print(quotient(27, 3))
print(quotient(10, 3))

9
3

In [ ]:
# Exercise 37
def remainder(a, b):
    return a % b

print(remainder(3, 3))
print(remainder(5, 2))

0
1

In [ ]:
# Exercise 38
def sum_of_squares(a, b):
    return a ** 2 + b ** 2

print(sum_of_squares(3, 2))

13

In [ ]:
# Exercise 39
def times_two_plus_three(n):
    return n * 2 + 3

print(times_two_plus_three(2))

7

In [ ]:
# Exercise 40
def area_of_rectangle(a, b):
    return a * b

print(area_of_rectangle(5, 2))

10

In [ ]:
# Exercise 41
import math
def area_of_circle(n):
    return math.pi * (n ** 2)

print(area_of_circle(3))

28.274333882308138

In [ ]:
# Exercise 42
import math
def circumference(n):
    return 2 * math.pi * n

print(circumference(3))

18.84955592153876

In [ ]:
# Exercise 43
def is_vowel(s):
    vowels = ["a", "e", "i", "o", "u"]
    if s.lower() in vowels:
        return True
    else:
        return False

print(is_vowel("a"))
print(is_vowel("E"))
print(is_vowel("A"))
print(is_vowel("B"))
print(is_vowel("c"))
print(is_vowel("Banana"))

True
True
True
False
False
False

In [ ]:
# Exercise 44
def has_vowels(s):
    vowels = ["a", "e", "i", "o", "u"]
    for letter in s.lower():
        if letter in vowels:
            return True
    return False

print(has_vowels("banana"))
print(has_vowels("wyrd"))

True
False

In [ ]:
# Exercise 45
def count_vowels(s):
    vowels = ["a", "e", "i", "o", "u"]
    count = 0
    for letter in s.lower():
        if letter in vowels:
            count += 1
    return count

print(count_vowels("banana"))
print(count_vowels("wyrd"))

3
0

In [ ]:
# Exercise 46
def remove_vowels(s):
    res = ""
    vowels = ["a", "e", "i", "o", "u"]
    for letter in s.lower():
        if letter not in vowels:
            res += letter
    return res

print(remove_vowels("banana"))
print(remove_vowels("ubuntu"))
print(remove_vowels("wyrd"))

bnn
bnt
wyrd

In [ ]:
# Exercise 47
def starts_with_vowel(s):
    vowels = ["a", "e", "i", "o", "u"]
    if s[0].lower() in vowels:
        return True
    else:
        return False
    
print(starts_with_vowel("ubuntu"))
print(starts_with_vowel("banana"))

True
False

In [ ]:
# Exercise 48
def ends_with_vowel(s):
    vowels = ["a", "e", "i", "o", "u"]
    if s[-1].lower() in vowels:
        return True
    else:
        return False
    
print(ends_with_vowel("ubuntu"))
print(ends_with_vowel("spinach"))

True
False

In [ ]:
# Exercise 49
def starts_and_ends_with_vowel(s):
    vowels = ["a", "e", "i", "o", "u"]
    if s[0] in vowels and s[-1] in vowels:
        return True
    else:
        return False
    
print(starts_and_ends_with_vowel("ubuntu"))
print(starts_and_ends_with_vowel("banana"))

True
False

In [ ]:
# Exercise 50
def first(s):
    return s[0]

print(first("abc"))
print(first([0, 1, 2]))
print(first(["python", "is", "awesome"]))

a
0
python